%h1= @movie.title
.jumbotron
  .row
    .col-md-3
      %img.img-rounded{src: "#{@url}#{@data["poster"]}"}
    .col-md-8
      %p
        %strong Rating:
        =@data["rating"]
      %p
        %strong
          =@data["plot"]
      = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'


- if @movie.comments.exists?
  .row.row-column
    .col-md-12
      = render "comments/comments", comments: @movie.comments

- if user_signed_in? && current_user.comments.where(movie_id: @movie.id).empty?
  = render partial: "comments/form", locals: {comment: @movie.comments.new}
